<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<add key="indexPath" value="./itpow"/>
		<add key="filesPath" value="D:\0.Wen_WorkSpace\0.EF_Info\Docs"/>
		
	</appSettings>
</configuration>