<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="xformdesigner">
      <section name="toolbox" type="XFormDesigner.Core.Toolbox.ToolboxSectionHandler, XFormDesigner.Designer"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Packages;Plugins;Components"/>
      <qualifyAssembly partialName="mscorlib" fullName="mscorlib, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <qualifyAssembly partialName="System" fullName="System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <qualifyAssembly partialName="System.Data" fullName="System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <qualifyAssembly partialName="System.Drawing" fullName="System.Drawing, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <qualifyAssembly partialName="System.Web" fullName="System.Web, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <qualifyAssembly partialName="System.Web.Mobile" fullName="System.Web.Mobile, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <qualifyAssembly partialName="System.Web.Services" fullName="System.Web.Services, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      <qualifyAssembly partialName="System.Xml" fullName="System.Xml, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </assemblyBinding>
  </runtime>
  <xformdesigner>
    <toolbox>
      <toolboxSection name="HTML Elements" type="XFormDesigner.Packages.Web.Designer.HtmlElementToolboxSection, XFormDesigner.Packages.Web">
        <toolboxItem data="!XFormDesigner.Packages.Web.Html.Elements.LabelElement, XFormDesigner.Packages.Web"/>
        <toolboxItem data="!XFormDesigner.Packages.Web.Html.Elements.InputTextElement, XFormDesigner.Packages.Web"/>
        <toolboxItem data="!XFormDesigner.Packages.Web.Html.Elements.TextAreaElement, XFormDesigner.Packages.Web"/>
        <toolboxItem data="!XFormDesigner.Packages.Web.Html.Elements.InputPasswordElement, XFormDesigner.Packages.Web"/>
        <toolboxItem data="!XFormDesigner.Packages.Web.Html.Elements.InputButtonElement, XFormDesigner.Packages.Web"/>
        <toolboxItem data="!XFormDesigner.Packages.Web.Html.Elements.InputSubmitElement, XFormDesigner.Packages.Web"/>
        <toolboxItem data="!XFormDesigner.Packages.Web.Html.Elements.InputResetElement, XFormDesigner.Packages.Web"/>
        <toolboxItem data="!XFormDesigner.Packages.Web.Html.Elements.InputImageElement, XFormDesigner.Packages.Web"/>
        <toolboxItem data="!XFormDesigner.Packages.Web.Html.Elements.InputCheckboxElement, XFormDesigner.Packages.Web"/>
        <toolboxItem data="!XFormDesigner.Packages.Web.Html.Elements.InputRadioElement, XFormDesigner.Packages.Web"/>
        <toolboxItem data="!XFormDesigner.Packages.Web.Html.Elements.SelectElement, XFormDesigner.Packages.Web"/>
        <toolboxItem data="!XFormDesigner.Packages.Web.Html.Elements.ListBoxElement, XFormDesigner.Packages.Web"/>
        <toolboxItem data="!XFormDesigner.Packages.Web.Html.Elements.InputHiddenElement, XFormDesigner.Packages.Web"/>
        <toolboxItem data="!XFormDesigner.Packages.Web.Html.Elements.InputFileElement, XFormDesigner.Packages.Web"/>
        <toolboxItem data="!XFormDesigner.Packages.Web.Html.Elements.FieldSetElement, XFormDesigner.Packages.Web"/>
        <toolboxItem data="!XFormDesigner.Packages.Web.Html.Elements.AnchorElement, XFormDesigner.Packages.Web"/>
        <toolboxItem data="!XFormDesigner.Packages.Web.Html.Elements.ImageElement, XFormDesigner.Packages.Web"/>
        <toolboxItem data="!XFormDesigner.Packages.Web.Html.Elements.TableElement, XFormDesigner.Packages.Web"/>
        <toolboxItem data="!XFormDesigner.Packages.Web.Html.Elements.SpanElement, XFormDesigner.Packages.Web"/>
        <toolboxItem data="!XFormDesigner.Packages.Web.Html.Elements.DivElement, XFormDesigner.Packages.Web"/>
        <toolboxItem data="!XFormDesigner.Packages.Web.Html.Elements.PanelElement, XFormDesigner.Packages.Web"/>
        <toolboxItem data="!XFormDesigner.Packages.Web.Html.Elements.IFrameElement, XFormDesigner.Packages.Web"/>
        <toolboxItem data="!XFormDesigner.Packages.Web.Html.Elements.HorizontalRuleElement, XFormDesigner.Packages.Web"/>
        <toolboxItem data="!XFormDesigner.Packages.Web.Html.Elements.FormElement, XFormDesigner.Packages.Web"/>
      </toolboxSection>
      <toolboxSection name="Web Controls" type="XFormDesigner.Packages.Web.Designer.WebFormsToolboxSection,XFormDesigner.Packages.Web">
        <toolboxItem data="System.Web.UI.WebControls.Label, System.Web"/>
        <toolboxItem data="System.Web.UI.WebControls.Literal, System.Web"/>
        <toolboxItem data="System.Web.UI.WebControls.HyperLink, System.Web"/>
        <toolboxItem data="System.Web.UI.WebControls.TextBox, System.Web"/>
        <toolboxItem data="System.Web.UI.WebControls.CheckBox, System.Web"/>
        <toolboxItem data="System.Web.UI.WebControls.CheckBoxList, System.Web"/>
        <toolboxItem data="System.Web.UI.WebControls.RadioButton, System.Web"/>
        <toolboxItem data="System.Web.UI.WebControls.RadioButtonList, System.Web"/>
        <toolboxItem data="System.Web.UI.WebControls.DropDownList, System.Web"/>
        <toolboxItem data="System.Web.UI.WebControls.ListBox, System.Web"/>
        <toolboxItem data="System.Web.UI.WebControls.Button, System.Web"/>
        <toolboxItem data="System.Web.UI.WebControls.LinkButton, System.Web"/>
        <toolboxItem data="System.Web.UI.WebControls.ImageButton, System.Web"/>
        <toolboxItem data="System.Web.UI.WebControls.Image, System.Web"/>
        <toolboxItem data="System.Web.UI.WebControls.AdRotator, System.Web"/>
        <toolboxItem data="System.Web.UI.WebControls.Panel, System.Web"/>
        <toolboxItem data="System.Web.UI.WebControls.PlaceHolder, System.Web"/>
        <toolboxItem data="System.Web.UI.WebControls.Table, System.Web"/>
        <toolboxItem data="System.Web.UI.WebControls.Calendar, System.Web"/>
        <toolboxItem data="System.Web.UI.WebControls.DataGrid, System.Web"/>
        <toolboxItem data="System.Web.UI.WebControls.DataList, System.Web"/>
        <toolboxItem data="System.Web.UI.WebControls.Repeater, System.Web"/>
        <toolboxItem data="System.Web.UI.WebControls.Xml, System.Web"/>
      </toolboxSection>
      <toolboxSection name="XForm Controls" type="XFormDesigner.Packages.Web.Designer.XFormsToolboxSection,XFormDesigner.Packages.Web">
        <toolboxItem data="!XFormDesigner.Packages.Web.Html.Elements.TableElement, XFormDesigner.Packages.Web"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XLabel, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XTextBox, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XDateTimePicker, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XCheckBoxList, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XRadioButtonList, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XDropDownList, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XAttachments, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XHorizAttachments, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XImageAttachment, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XHtmlEditor, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XDataBrowserButton, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XBarcode, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XSelectUserButton, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XSelectOUButton, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XExcelDataImportButton, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XExcelDataExportButton, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XHistoryFormLink, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XChildFormLink, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XGridLineNo, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XAddBlockButton, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XCheckBox, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XRadioButton, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XListBox, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XHyperLink, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XPrintButton, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XPositionMap, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XButton, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XCustomBrowserButton, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XExtJSControl, XFormDesigner.Framework"/>
      </toolboxSection>
      <toolboxSection name="My Web Controls" type="XFormDesigner.Packages.Web.Designer.XFormsToolboxSection,XFormDesigner.Packages.Web">
        <toolboxItem data="XXSoft.WebControls.Web.UI.XMyDataBrowserButton, XXSoft.WebControls"/>
        <toolboxItem data="XXSoft.WebControls.Web.UI.XMySignTrace, XXSoft.WebControls"/>
        <toolboxItem data="XXSoft.WebControls.Web.UI.XWXSignTrace, XXSoft.WebControls"/>
      </toolboxSection>
      <toolboxSection name="Sign Controls" type="XFormDesigner.Packages.Web.Designer.SignToolboxSection,XFormDesigner.Packages.Web">
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XSignTrace, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XSignHistory, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XComments, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XCommentsTextBox, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XTaskStatus, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XSnapshotList, XFormDesigner.Framework"/>
      </toolboxSection>
      <toolboxSection name="Validator Controls" type="XFormDesigner.Packages.Web.Designer.ValidatorToolboxSection,XFormDesigner.Packages.Web">
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XRequiredFieldValidator, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XRangeValidator, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XRegularExpressionValidator, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XCompareValidator, XFormDesigner.Framework"/>
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XCustomValidator, XFormDesigner.Framework"/>
      </toolboxSection>
      <toolboxSection name="Custom Controls" type="XFormDesigner.Packages.Web.Designer.CustomControlsToolboxSection,XFormDesigner.Packages.Web">
      </toolboxSection>
      <toolboxSection name="公司控件库" type="XFormDesigner.Packages.Web.Designer.CustomControlsToolboxSection,XFormDesigner.Packages.Web">
        <toolboxItem data="XFormDesigner.Framework.Web.UI.XBarcode, XFormDesigner.Framework"/>
      </toolboxSection>
    </toolbox>
  </xformdesigner>
</configuration>
