<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="adouProvider" type="ADOUProvider.Config.ADOUProviderSection,ADOUProvider"/>
  </configSections>
  <adouProvider>
  <!--UserCacheSeconds 用户信息缓存，单位秒，缺省30分钟，值<=0代表关闭账号信息缓存功能-->
  <provider AttendToProcess="true" InheriPerm="false" UserCacheSeconds="1800"></provider>
  <connections>
    <!--服务器未加入域，需要在connectionItem中设置:adserver="localhost"-->
    <!--服务器未加入域并且AD域是Win2000服务器，需要在connectionItem中设置:win2000logondomain="MarcusDNS"-->
    <!--服务器未加入域的例子-->
    <!--<connectionItem oupath="LDAP://OU=XXSoft,DC=MarcusDNS,DC=com" user="" password="" adserver="localhost" win2000logondomain="MarcusDNS"/>-->
    <connectionItem oupath="LDAP://OU=易正信息技术有限公司,DC=flowportal,DC=com" user="Administrator" password="Abc123##" adserver="192.169.1.106"/>
    <!--<connectionItem oupath="LDAP://OU=AASoft,DC=MarcusDNS,DC=com" user="" password=""/>-->
  </connections>
  <sysPropertyMaps>
    <!--以下是用户固定信息映射，不建议使用者自行修改-->
    <!--bpmproperty：代表BPM属性名称，adproperty：代表AD属性名称-->
    <!--没有定义的项使用缺省属性映射-->
    <!--<propertyItem bpmproperty="Account" adproperty="userPrincipalName"/>-->
    <propertyItem bpmproperty="Account" adproperty="sAMAccountName"/>
    <!--帐号对应AD短名-->
    <propertyItem bpmproperty="DisplayName" adproperty="displayName"/>
    <propertyItem bpmproperty="Description" adproperty="description"/>
    <propertyItem bpmproperty="Office" adproperty="physicalDeliveryOfficeName"/>
    <propertyItem bpmproperty="OfficePhone" adproperty="telephoneNumber"/>
    <propertyItem bpmproperty="HomePhone" adproperty="homePhone"/>
    <propertyItem bpmproperty="Mobile" adproperty="mobile"/>
    <propertyItem bpmproperty="EMail" adproperty="mail"/>
    <propertyItem bpmproperty="WWWHomePage" adproperty="wWWHomePage"/>
    <propertyItem bpmproperty="HRID" adproperty=""/>
  </sysPropertyMaps>
  <extPropertyMaps>
    <!--以下是用户扩展属性映射，使用者可以根据自身需要添加-->
    <!--bpmproperty：代表在FlowPortal.net中显示的属性名，是必须设置的，但可以和adproperty相同-->
    <propertyItem bpmproperty="EXT_CN" adproperty="cn"/>
    <propertyItem bpmproperty="EXT_SN" adproperty="sn"/>
    <propertyItem bpmproperty="Account" adproperty="userPrincipalName"/>
    </extPropertyMaps>
  </adouProvider>
</configuration>