<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="application" type="BPM.Server.Config.ApplicationDataSection,BPM.Server" />
    <section name="dotnet" type="BPM.Server.Config.DotNetSection,BPM.Server" />
    <section name="cluster" type="BPM.Server.Config.ClusterSection,BPM.Server" />
  </configSections>
  <application>
    <environment>
      <SystemDBProvider>SQLServerBPMProvider.Provider,SQLServerBPMProvider</SystemDBProvider>
      <!--BPM主数据库为SQL Server-->
      <!--<SystemDBProvider>SQLServerBPMProvider.Provider,SQLServerBPMProvider</SystemDBProvider>-->
      <!--BPM主数据库为Oracle-->
      <!--<SystemDBProvider>OracleBPMProvider.Provider,OracleBPMProvider</SystemDBProvider>-->
      <WebsiteRootUrl>http://192.168.99.150/BPM</WebsiteRootUrl>
      <EMIPSiteUrl>http://emip.flowportal.com/emip</EMIPSiteUrl>
      <FormPath>C:\Program Files (x86)\FlowPortal BPM 6.x\WEB\YZSoft\Forms\XForm</FormPath>
      <AttachmentRootPath>C:\Program Files (x86)\FlowPortal BPM 6.x\Attachments</AttachmentRootPath>
      <!--【正式系统需要开启】分布式事务处理开关-->
      <DTCEnabled>false</DTCEnabled>
      <IsolationLevel>ReadUncommitted</IsolationLevel>
      <!--ReadCommitted/ReadUncommitted-->
      <!--缺省true,true时提交操作涉及到的数据库，即使连接字符串中申明Enlist=false也自动加入DTC-->
      <DTCEnlist>true</DTCEnlist>
      <!--【勿轻易打开此开关】打开此开极有可能引起系统高频度密集访问BPMSysTableVersion表，如打开必需用SQL Profiler确认-->
      <ServiceBroker>false</ServiceBroker>
      <NoTimeSheetNoProcess>false</NoTimeSheetNoProcess>
      <SQLTrace>false</SQLTrace>
      <ServicePort>1590</ServicePort>
      <ServerIdentity>NCZZ</ServerIdentity>
      <ConfigEncrypted>false</ConfigEncrypted>
      <SecurityKey>2wersd99f81fl09ad</SecurityKey>
      <NotificationDelegationOwner>false</NotificationDelegationOwner>
    </environment>
    <ouProviders>
      <!--安装目录\OUProviders-->
      <ouProviderItem name="BPMOUProvider" type="BPMOUProvider.OrgProvider,BPMOUProvider" />
      <!--<ouProviderItem name="ADOUProvider" type="ADOUProvider.OrgProvider,ADOUProvider"/>-->
      <!--<ouProviderItem name="DemoProvider" type="OUProviders.DemoProvider.OrgProvider,OUProviders.DemoProvider"/>-->
      <!--<ouProviderItem name="wGovOUProvider" type="wGovOUProvider.BPMOUProvider,wGovOUProvider"/>-->
      <!--<ouProviderItem name="SampleOUProvider" type="SampleOUProvider.MyOrgProvider,OUProviderJL"/>-->
      <!--<ouProviderItem name="唯一的名称" type="OUProvider的类名,DLL名"/>-->
    </ouProviders>
    <notifyProviders>
      <!--安装目录\NotifyProviders-->
      <!--<notifyProviderItem name="Mail" type="MailProvider.Provider,MailProvider"/>-->
      <notifyProviderItem name="Mail" type="MailProvider.Provider,MailProvider" />
      <notifyProviderItem name="SMS" type="SMSProvider.Provider,SMSProvider" />
      <notifyProviderItem name="MSN" type="MSNProvider.Provider,MSNProvider" />
      <notifyProviderItem name="QQ" type="QQProvider.Provider,QQProvider" />
      <!--<notifyProviderItem name="MobilePushNotification" type="MobilePushNotificationProvider.Provider,EMIPPushNotificationProvider"/>-->
      <!--<notifyProviderItem name="WeChat" type="WeChatProvider.Provider,WeChatProvider"/>
      <notifyProviderItem name="DingTalk" type="DingTalkProvider.Provider,DingTalkProvider"/>-->
      <!--<notifyProviderItem name="MobilePushNotification" type="MobilePushNotificationProvider.Provider,MobilePushNotificationProvider"/>-->
      <!--<notifyProviderItem name="唯一的名称" type="NotifyProvider的类名,DLL名"/>-->
    </notifyProviders>
    <datasourceProviders>
      <!--安装目录\DataSourceProviders-->
      <datasourceProviderItem name="SQL Server" type="SQLServerProvider.Provider,SQLServerProvider" />
      <datasourceProviderItem name="Oracle" type="OracleProvider.Provider,OracleProvider" />
      <datasourceProviderItem name="SQL Server(ODBC)" type="SQLServerOdbcProvider.Provider,SQLServerOdbcProvider" />
      <!--<datasourceProviderItem name="SM" type="HRDataSourceProvider.SMProvider,HRDataSourceProvider"/>-->
      <!--<datasourceProviderItem name="KC" type="HRDataSourceProvider.KCProvider,HRDataSourceProvider"/>-->
      <!--<datasourceProviderItem name="唯一的名称" type="DataSourceProvider的类名,DLL名"/>-->
    </datasourceProviders>
    <queues>
      <queue name="ESB" threadPriority="BelowNormal" maximumThreads="10" />
      <queue name="SAP" threadPriority="BelowNormal" maximumThreads="5" />
      <!--<queue name="队列名称" maximumThreads="最大处理线程数"/>-->
    </queues>
    <database>
      <!--<ConnectionString>Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=BPMDB2019)));User Id=SYSTEM;Password=Abc123#</ConnectionString>-->
      <!--<ConnectionString>Data Source=(local);Initial Catalog=BPMDB2015;User ID=sa;Password=Abc123#;Max Pool Size=512</ConnectionString>-->
      <!--<ConnectionStringProvider>MyConnectionProvider.Provider,MyConnectionProvider</ConnectionStringProvider>-->
      <Server>127.0.0.1</Server>
      <AuthType>DB</AuthType>
      <!--SSPI=当前NT登录用户,DB=输入用户名与密码,注意区分大小写-->
      <Uid>sa</Uid>
      <Password>P@ssw0rd</Password>
      <Database>BPMDB</Database>
      <CommandTimeout>30</CommandTimeout>
    </database>
    <smtp>
      <MailBox>bpmadmin@vip.163.com</MailBox>
      <UseIIS>false</UseIIS>
      <!--false时需要设置以下各项-->
      <Server>smtp.vip.163.com</Server>
      <Port>25</Port>
      <User>bpmadmin</User>
      <Password>asp.net</Password>
      <EnableSsl>false</EnableSsl>
    </smtp>
    <pop3>
      <Pop3Enable>false</Pop3Enable>
      <!--true时需要设置以下各项-->
      <MailBox>bpmadmin@vip.163.com</MailBox>
      <Server>pop.vip.163.com</Server>
      <Port>110</Port>
      <User>bpmadmin</User>
      <Password>asp.net</Password>
      <CheckMailFrequencyInSeconds>30</CheckMailFrequencyInSeconds>
    </pop3>
  </application>
  <dotnet>
    <assemblies>
      <add name="System.dll" />
      <add name="System.Transactions.dll" />
      <add name="BPM.dll" />
      <add name="BPM.Server.dll" />
      <!--your dll-->
    </assemblies>
    <using>
      <add name="using System;" />
      <add name="using System.IO;" />
      <add name="using System.Text;" />
      <add name="using System.Transactions;" />
      <add name="using BPM;" />
      <add name="using BPM.Server;" />
      <add name="using BPM.Server.OAL;" />
      <!--your namespace-->
    </using>
  </dotnet>
  <cluster enabled="false" main="true">
    <servers>
      <add name="BPMServer002" server="127.0.0.1" port="1580" />
    </servers>
  </cluster>
</configuration>