<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DBType" value="SQLServer" />
    <!--<add key="DBType" value="SQLServer"/>-->
    <!--<add key ="DBType" value="Oracle"/>-->
    <!--【勿轻易打开此开关】打开此开极有可能引起系统高频度密集访问BPMSysTableVersion表，如打开必需用SQL Profiler确认-->
    <add key="ServiceBroker" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="dbcnn" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=BPMDB;Integrated Security=False;User ID=sa;Password=P@ssw0rd" />
    <!--<add name="dbcnn" connectionString="Data Source=(local)\SQL2005;Initial Catalog=BPMDB2015;User ID=sa;Password=Abc123#"/>-->
    <!--<add name="dbcnn" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=BPMDB2015)));User Id=SYSTEM;Password=Abc123#;Unicode=True"/>-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>