
/*yz-input-html5-fileupload*/
.yz-input-html5-fileupload {
    border: 0;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-indent: -10000px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    font-size: 1000px;
}

/*yz-link-user */
.yz-link-user {
    color: #439ff5;
    cursor: pointer;
}

/*yz-badge*/
.yz-badge {
    display: none;
    position: absolute;
    top: -6px;
    right: -8px;
    background-color: #f1304a;
    color: #fff;
    border-radius: 20px;
    font-family: Tahoma !important;
    min-width: 26px;
    padding: 5px;
    font-size: 16px;
    line-height: 14px;
    transform: scale(0.85);
    text-align: center;
}

/*yz-nav-badge*/
.yz-nav-badge {
    display: none;
    position: absolute;
    right: 15px;
    top: 0px;
    height: 24px;
    bottom: 0px;
    margin: auto;
    background-color: #e95266;
    color: #fff;
    border-radius: 20px;
    font-family: Tahoma !important;
    min-width: 26px;
    padding: 5px;
    font-size: 16px;
    line-height: 14px;
    transform: scale(0.85);
    text-align: center;
}

.x-tree-node-text .yz-nav-badge.yz-hasbadge {
    display: inline-block;
}

/*yz-container-columntabwrap*/
.yz-container-columntabwrap .more {
    margin-right: 12px;
}

/*yz-container-columntabwrap-expanded*/
.yz-container-columntabwrap-expanded {
    overflow: visible;
}

.yz-container-columntabwrap-expanded > .x-box-inner {
    overflow: visible;
    z-index: 999;
    background-color: #32404e;
    opacity: 0.95;
}

/*yz-cmp-headshort*
/*yz-cmp-sign*/
.yz-cmp-headshort {
    overflow: hidden;
}

.yz-cmp-sign {
    border: solid 1px #eee;
}

.yz-cmp-headshort .headshot,
.yz-cmp-sign .headshot {
    width: 100%;
    height: 100%;
}

.yz-cmp-headshort .editable,
.yz-cmp-sign .editable {
    cursor: pointer;
}

.yz-cmp-headshort .y-btn,
.yz-cmp-sign .y-btn {
    padding: 8px 3px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    bottom: 0px;
    cursor: pointer;
    transition: transform 0.2s;
    transform: translateY(34px);
}

.yz-cmp-headshort-over .y-btn,
.yz-cmp-sign-over .y-btn {
    transform: translateY(0px);
}

.yz-cmp-headshort-square .headshot {
    border-radius: 0px;
}

/*yz-tip-userinfo*/
.yz-tip-userinfo .headshot {
}

/*yz-cmp-cropper-wrap*/
.yz-cmp-cropper-wrap .empty {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 13px;
    line-height: 20px;
    height: 20px;
    padding-top: 106px;
    padding-bottom: 30px;
    margin: auto;
    text-align: center;
    color: #c5c5c5;
    letter-spacing: 1px;
}

.yz-cmp-cropper-wrap .empty:before {
    content: '';
    position: absolute;
    width: 94px;
    height: 94px;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    background-image: url(ui/images/upload-indicate.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*yz-cropper-headshot*/
.yz-cropper-headshot {
    box-shadow: inset 0 0 5px rgba(0,0,0,.25);
    background-color: #fcfcfc;
    overflow: hidden;
}

/*yz-headshot-preview*/
.yz-headshot-preview {
    border: solid 1px #eee;
    border-radius: 0px;
    background-image: url(ui/images/empty-headshot.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.yz-headshot-preview.yz-cropper-loaded {
    background-image: none;
}

.yz-headshot-preview-withround:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-width: 1px;
    border-style: dashed;
    border-color: rgba(255,255,255,0.5);
    border-radius: 100px;
}

/*yz-cropper-sign*/
.yz-cropper-sign {
    box-shadow: inset 0 0 5px rgba(0,0,0,.25);
    background-color: #fcfcfc;
    overflow: hidden;
}

/*yz-sign-preview*/
.yz-sign-preview {
    border: solid 1px #eee;
    border-radius: 0px;
    background-image: url(ui/images/empty-sign.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.yz-sign-preview.yz-cropper-loaded {
    background-image: none;
}

.yz-sign-preview-bg {
    border-color: #e0e0e0;
}

/*yz-msgtarget-err*/
.yz-msgtarget-err {
    padding: 8px 10px;
    color: red;
}

/*yz-trigger-field-editor*/
.yz-trigger-field-editor {
    display: inline-block;
    font-size: 13px;
    color: #ced8e1;
    margin-left: 3px;
    cursor: pointer;
}

.yz-cmp-caption
{
    margin:0px;
}

.yz-cmp-addgroupmemberdesc {
    margin: 6px 0px 0px 0px;
    color: #9e9e9e;
    line-height: 20px;
}

.yz-cmp-trace-taskstatus
{
    padding:4px 10px;
    border-radius:3px;
    color:#fff;
}

.yz-cmp-trace-taskstatus-running {
    background-color: #92c83f;
}

.yz-cmp-trace-taskstatus-approved {
    background-color: #fdab46;
}

.yz-cmp-trace-taskstatus-rejected {
    background-color: #fc0e1b;
}

.yz-cmp-trace-taskstatus-aborted {
    background-color: #aaaaa9;
}

.yz-cmp-trace-taskstatus-deleted {
    background-color: #aaaaa9;
}

.yz-seprator-tasktrace-title {
    margin: 0px 8px;
    height: 12px;
    width: 1px;
    background-color: #aaaaa9;
}

.yz-cmp-tasktrace-titleitem
{
    color:#919191;
}

table.yz-tasktrace-tip {
    padding: 0px;
    margin: 0px;
    font-family: Tahoma;
    font-size: 12px;
    border-collapse: separate;
    background-color: #cccccc;
    width: 100%;
}

table.yz-tasktrace-tip TD {
    background-color: #ffffff;
    padding-left: 2px;
    padding-right: 2px;
    white-space: nowrap;
    color: red;
}

table.yz-tasktrace-tip TR.head TD {
    background-color: #ffff99;
    color: black
}

table.yz-tasktrace-tip TR.processing TD {
    color: green;
}

.yz-sp-delagatestep-owner{
    color:#919191;
    margin-left:2px;
}

.yz-sp-delagatestep-excpetion
{
    color:red;
}