
/*按钮图标样式*/
@font-face {
    font-family: 'yzglyphs';
	src:url('fonts/yzglyphs.eot?20190614');
	src:url('fonts/yzglyphs.eot?20190614') format('embedded-opentype'),
		url('fonts/yzglyphs.ttf?20190614') format('truetype'),
		url('fonts/yzglyphs.woff?20190614') format('woff'),
		url('fonts/yzglyphs.svg?20190614') format('svg');
	font-weight: normal;
	font-style: normal;
}

.yz-glyph:before {
    font-family: 'yzglyphs';
}

.yz-glyph-refresh:before {content: "\e60f";}
.yz-glyph-property:before {content: "\e613";}
.yz-glyph-save:before {content: "\e616";}
.yz-glyph-cut:before {content: "\e61b";}
.yz-glyph-edit:before {content: "\e61c";}
.yz-glyph-remove:before {content: "\e62b";}
.yz-glyph-close:before {content: "\e62b";}
.yz-glyph-folder:before {content: "\e632";}
.yz-glyph-delete:before{content: "\e64d";}
.yz-glyph-rename:before {content: "\eb2c";}
.yz-glyph-collapse:before {content: "\e90a";}
.yz-glyph-recyclebin:before {content: "\e91e";}
.yz-glyph-face:before {content: "\e922";}
.yz-glyph-new:before {content: "\e924";}
.yz-glyph-copy:before {content: "\e92c";}
.yz-glyph-arrow-up:before {content: "\e933";}
.yz-glyph-arrow-down:before {content: "\e934";}
.yz-glyph-logout:before {content: "\e949";}
.yz-glyph-restore:before {content: "\e951";}
.yz-glyph-search:before {content: "\e986";}
.yz-glyph-flowchart:before {content: "\e99c";}
.yz-glyph-reject:before {content: "\e9e5";}
.yz-glyph-up:before {content: "\ea4f";}
.yz-glyph-clone:before {content: "\ea90";}

.yz-glyph-e600:before {content: "\e600";}
.yz-glyph-e601:before {content: "\e601";}
.yz-glyph-e602:before {content: "\e602";}
.yz-glyph-e603:before {content: "\e603";}
.yz-glyph-e605:before {content: "\e605";}
.yz-glyph-e606:before {content: "\e606";}
.yz-glyph-e607:before {content: "\e607";}
.yz-glyph-e608:before {content: "\e608";}
.yz-glyph-e609:before {content: "\e609";}
.yz-glyph-e60c:before {content: "\e60c";}
.yz-glyph-e60d:before {content: "\e60d";}
.yz-glyph-e60e:before {content: "\e60e";}
.yz-glyph-e610:before {content: "\e610";}
.yz-glyph-e611:before {content: "\e611";}
.yz-glyph-e612:before {content: "\e612";}
.yz-glyph-e614:before {content: "\e614";}
.yz-glyph-e615:before {content: "\e615";}
.yz-glyph-e617:before {content: "\e617";}
.yz-glyph-e618:before {content: "\e618";}
.yz-glyph-e61c:before {content: "\e61c";}
.yz-glyph-e61d:before {content: "\e61d";}
.yz-glyph-e61e:before {content: "\e61e";}
.yz-glyph-e61f:before {content: "\e61f";}
.yz-glyph-e620:before {content: "\e620";}
.yz-glyph-e621:before {content: "\e621";}
.yz-glyph-e622:before {content: "\e622";}
.yz-glyph-e623:before {content: "\e623";}
.yz-glyph-e624:before {content: "\e624";}
.yz-glyph-e626:before {content: "\e626";}
.yz-glyph-e627:before {content: "\e627";}
.yz-glyph-e628:before {content: "\e628";}
.yz-glyph-e629:before {content: "\e629";}
.yz-glyph-e62a:before {content: "\e62a";}
.yz-glyph-e62b:before {content: "\e62b";}
.yz-glyph-e62c:before {content: "\e62c";}
.yz-glyph-e62d:before {content: "\e62d";}
.yz-glyph-e62e:before {content: "\e62e";}
.yz-glyph-e62f:before {content: "\e62f";}
.yz-glyph-e630:before {content: "\e630";}
.yz-glyph-e631:before {content: "\e631";}
.yz-glyph-e632:before {content: "\e632";}
.yz-glyph-e633:before {content: "\e633";}
.yz-glyph-e634:before {content: "\e634";}
.yz-glyph-e635:before {content: "\e635";}
.yz-glyph-e636:before {content: "\e636";}
.yz-glyph-e637:before {content: "\e637";}
.yz-glyph-e638:before {content: "\e638";}
.yz-glyph-e639:before {content: "\e639";}
.yz-glyph-e63a:before {content: "\e63a";}
.yz-glyph-e63b:before {content: "\e63b";}
.yz-glyph-e63c:before {content: "\e63c";}
.yz-glyph-e63d:before {content: "\e63d";}
.yz-glyph-e63f:before {content: "\e63f";}
.yz-glyph-e640:before {content: "\e640";}
.yz-glyph-e644:before {content: "\e644";}
.yz-glyph-e645:before {content: "\e645";}
.yz-glyph-e646:before {content: "\e646";}
.yz-glyph-e647:before {content: "\e647";}
.yz-glyph-e648:before {content: "\e648";}
.yz-glyph-e649:before {content: "\e649";}
.yz-glyph-e64a:before {content: "\e64a";}
.yz-glyph-e64c:before {content: "\e64c";}
.yz-glyph-e64d:before {content: "\e64d";}
.yz-glyph-e650:before {content: "\e650";}
.yz-glyph-e651:before {content: "\e651";}
.yz-glyph-e652:before {content: "\e652";}
.yz-glyph-e653:before {content: "\e653";}
.yz-glyph-e654:before {content: "\e654";}
.yz-glyph-e656:before {content: "\e656";}
.yz-glyph-e657:before {content: "\e657";}
.yz-glyph-e900:before {content: "\e900";}
.yz-glyph-e901:before {content: "\e901";}
.yz-glyph-e902:before {content: "\e902";}
.yz-glyph-e903:before {content: "\e903";}
.yz-glyph-e904:before {content: "\e904";}
.yz-glyph-e905:before {content: "\e905";}
.yz-glyph-e906:before {content: "\e906";}
.yz-glyph-e908:before {content: "\e908";}
.yz-glyph-e911:before {content: "\e911";}
.yz-glyph-e912:before {content: "\e912";}
.yz-glyph-e913:before {content: "\e913";}
.yz-glyph-e915:before {content: "\e915";}
.yz-glyph-e916:before {content: "\e916";}
.yz-glyph-e917:before {content: "\e917";}
.yz-glyph-e91f:before {content: "\e91f";}
.yz-glyph-e921:before {content: "\e921";}
.yz-glyph-e925:before {content: "\e925";}
.yz-glyph-e926:before {content: "\e926";}
.yz-glyph-e92a:before {content: "\e92a";}
.yz-glyph-e92d:before {content: "\e92d";}
.yz-glyph-e92e:before {content: "\e92e";}
.yz-glyph-e92f:before {content: "\e92f";}
.yz-glyph-e930:before {content: "\e930";}
.yz-glyph-e931:before {content: "\e931";}
.yz-glyph-e932:before {content: "\e932";}
.yz-glyph-e936:before {content: "\e936";}
.yz-glyph-e937:before {content: "\e937";}
.yz-glyph-e938:before {content: "\e938";}
.yz-glyph-e939:before {content: "\e939";}
.yz-glyph-e93a:before {content: "\e93a";}
.yz-glyph-e93b:before {content: "\e93b";}
.yz-glyph-e940:before {content: "\e940";}
.yz-glyph-e948:before {content: "\e948";}
.yz-glyph-e94a:before {content: "\e94a";}
.yz-glyph-e94b:before {content: "\e94b";}
.yz-glyph-e94d:before {content: "\e94d";}
.yz-glyph-e951:before {content: "\e951";}
.yz-glyph-e953:before {content: "\e953";}
.yz-glyph-e954:before {content: "\e954";}
.yz-glyph-e955:before {content: "\e955";}
.yz-glyph-e956:before {content: "\e956";}
.yz-glyph-e957:before {content: "\e957";}
.yz-glyph-e958:before {content: "\e958";}
.yz-glyph-e959:before {content: "\e959";}
.yz-glyph-e967:before {content: "\e967";}
.yz-glyph-e968:before {content: "\e968";}
.yz-glyph-e969:before {content: "\e969";}
.yz-glyph-e96a:before {content: "\e96a";}
.yz-glyph-e96b:before {content: "\e96b";}
.yz-glyph-e96c:before {content: "\e96c";}
.yz-glyph-e96d:before {content: "\e96d";}
.yz-glyph-e970:before {content: "\e970";}
.yz-glyph-e971:before {content: "\e971";}
.yz-glyph-e972:before {content: "\e972";}
.yz-glyph-e982:before {content: "\e982";}
.yz-glyph-e983:before {content: "\e983";}
.yz-glyph-e98b:before {content: "\e98b";}
.yz-glyph-e98c:before {content: "\e98c";}
.yz-glyph-e997:before {content: "\e997";}
.yz-glyph-e9a1:before {content: "\e9a1";}
.yz-glyph-ea0d:before {content: "\ea0d";}
.yz-glyph-ea2d:before {content: "\ea2d";}
.yz-glyph-ea2f:before {content: "\ea2f";}
.yz-glyph-ea40:before {content: "\ea40";}
.yz-glyph-ea62:before {content: "\ea62";}
.yz-glyph-ea82:before {content: "\ea82";}
.yz-glyph-ea83:before {content: "\ea83";}
.yz-glyph-ea84:before {content: "\ea84";}
.yz-glyph-ea85:before {content: "\ea85";}
.yz-glyph-ea86:before {content: "\ea86";}
.yz-glyph-ea87:before {content: "\ea87";}
.yz-glyph-ea88:before {content: "\ea88";}
.yz-glyph-ea89:before {content: "\ea89";}
.yz-glyph-ea90:before {content: "\ea90";}
.yz-glyph-ea91:before {content: "\ea91";}
.yz-glyph-ea92:before {content: "\ea92";}
.yz-glyph-ea93:before {content: "\ea93";}
.yz-glyph-ea94:before {content: "\ea94";}
.yz-glyph-ea95:before {content: "\ea95";}
.yz-glyph-ea96:before {content: "\ea96";}
.yz-glyph-ea97:before {content: "\ea97";}
.yz-glyph-ea98:before {content: "\ea98";}
.yz-glyph-ea99:before {content: "\ea99";}
.yz-glyph-ea9a:before {content: "\ea9a";}
.yz-glyph-ea9b:before {content: "\ea9b";}
.yz-glyph-ea9c:before {content: "\ea9c";}
.yz-glyph-ea9d:before {content: "\ea9d";}
.yz-glyph-ea9e:before {content: "\ea9e";}
.yz-glyph-ea9f:before {content: "\ea9f";}
.yz-glyph-eaa0:before {content: "\eaa0";}
.yz-glyph-eaa1:before {content: "\eaa1";}
.yz-glyph-eaa2:before {content: "\eaa2";}
.yz-glyph-eaa3:before {content: "\eaa3";}
.yz-glyph-eaa4:before {content: "\eaa4";}
.yz-glyph-eaa5:before {content: "\eaa5";}
.yz-glyph-eaa6:before {content: "\eaa6";}
.yz-glyph-eaa7:before {content: "\eaa7";}
.yz-glyph-eaa8:before {content: "\eaa8";}
.yz-glyph-eaa9:before {content: "\eaa9";}
.yz-glyph-eaaa:before {content: "\eaaa";}
.yz-glyph-eaab:before {content: "\eaab";}
.yz-glyph-eaac:before {content: "\eaac";}
.yz-glyph-eaad:before {content: "\eaad";}
.yz-glyph-eaae:before {content: "\eaae";}
.yz-glyph-eaaf:before {content: "\eaaf";}
.yz-glyph-eab0:before {content: "\eab0";}
.yz-glyph-eab1:before {content: "\eab1";}
.yz-glyph-eab2:before {content: "\eab2";}
.yz-glyph-eab3:before {content: "\eab3";}
.yz-glyph-eab4:before {content: "\eab4";}
.yz-glyph-eab5:before {content: "\eab5";}
.yz-glyph-eab6:before {content: "\eab6";}
.yz-glyph-eab7:before {content: "\eab7";}
.yz-glyph-eab8:before {content: "\eab8";}
.yz-glyph-eab9:before {content: "\eab9";}
.yz-glyph-eaba:before {content: "\eaba";}
.yz-glyph-eabb:before {content: "\eabb";}
.yz-glyph-eabc:before {content: "\eabc";}
.yz-glyph-eabd:before {content: "\eabd";}
.yz-glyph-eabe:before {content: "\eabe";}
.yz-glyph-eabf:before {content: "\eabf";}
.yz-glyph-eac0:before {content: "\eac0";}
.yz-glyph-eac1:before {content: "\eac1";}
.yz-glyph-eac2:before {content: "\eac2";}
.yz-glyph-eac3:before {content: "\eac3";}
.yz-glyph-eac4:before {content: "\eac4";}
.yz-glyph-eac5:before {content: "\eac5";}
.yz-glyph-eac6:before {content: "\eac6";}
.yz-glyph-eac7:before {content: "\eac7";}
.yz-glyph-eac8:before {content: "\eac8";}
.yz-glyph-eac9:before {content: "\eac9";}
.yz-glyph-eaca:before {content: "\eaca";}
.yz-glyph-eacb:before {content: "\eacb";}
.yz-glyph-eacc:before {content: "\eacc";}
.yz-glyph-eacd:before {content: "\eacd";}
.yz-glyph-eace:before {content: "\eace";}
.yz-glyph-eacf:before {content: "\eacf";}
.yz-glyph-ead0:before {content: "\ead0";}
.yz-glyph-ead1:before {content: "\ead1";}
.yz-glyph-ead2:before {content: "\ead2";}
.yz-glyph-ead3:before {content: "\ead3";}
.yz-glyph-ead4:before {content: "\ead4";}
.yz-glyph-ead5:before {content: "\ead5";}
.yz-glyph-ead6:before {content: "\ead6";}
.yz-glyph-ead7:before {content: "\ead7";}
.yz-glyph-ead8:before {content: "\ead8";}
.yz-glyph-ead9:before {content: "\ead9";}
.yz-glyph-eada:before {content: "\eada";}
.yz-glyph-eadb:before {content: "\eadb";}
.yz-glyph-eadc:before {content: "\eadc";}
.yz-glyph-eadd:before {content: "\eadd";}
.yz-glyph-eade:before {content: "\eade";}
.yz-glyph-eadf:before {content: "\eadf";}
.yz-glyph-eae0:before {content: "\eae0";}
.yz-glyph-eae1:before {content: "\eae1";}
.yz-glyph-eae2:before {content: "\eae2";}
.yz-glyph-eae3:before {content: "\eae3";}
.yz-glyph-eae4:before {content: "\eae4";}
.yz-glyph-eae5:before {content: "\eae5";}
.yz-glyph-eae6:before {content: "\eae6";}
.yz-glyph-eae7:before {content: "\eae7";}
.yz-glyph-eae8:before {content: "\eae8";}
.yz-glyph-eae9:before {content: "\eae9";}
.yz-glyph-eaea:before {content: "\eaea";}
.yz-glyph-eaeb:before {content: "\eaeb";}
.yz-glyph-eaec:before {content: "\eaec";}
.yz-glyph-eaed:before {content: "\eaed";}
.yz-glyph-eaee:before {content: "\eaee";}
.yz-glyph-eaef:before {content: "\eaef";}
.yz-glyph-eaf0:before {content: "\eaf0";}
.yz-glyph-eaf1:before {content: "\eaf1";}
.yz-glyph-eaf2:before {content: "\eaf2";}
.yz-glyph-eaf3:before {content: "\eaf3";}
.yz-glyph-eaf4:before {content: "\eaf4";}
.yz-glyph-eaf5:before {content: "\eaf5";}
.yz-glyph-eaf6:before {content: "\eaf6";}
.yz-glyph-eaf7:before {content: "\eaf7";}
.yz-glyph-eaf8:before {content: "\eaf8";}
.yz-glyph-eaf9:before {content: "\eaf9";}
.yz-glyph-eafa:before {content: "\eafa";}
.yz-glyph-eafb:before {content: "\eafb";}
.yz-glyph-eafc:before {content: "\eafc";}
.yz-glyph-eafd:before {content: "\eafd";}
.yz-glyph-eafe:before {content: "\eafe";}
.yz-glyph-eaff:before {content: "\eaff";}
.yz-glyph-eb00:before {content: "\eb00";}
.yz-glyph-eb01:before {content: "\eb01";}
.yz-glyph-eb02:before {content: "\eb02";}
.yz-glyph-eb03:before {content: "\eb03";}
.yz-glyph-eb04:before {content: "\eb04";}
.yz-glyph-eb05:before {content: "\eb05";}
.yz-glyph-eb06:before {content: "\eb06";}
.yz-glyph-eb07:before {content: "\eb07";}
.yz-glyph-eb08:before {content: "\eb08";}
.yz-glyph-eb09:before {content: "\eb09";}
.yz-glyph-eb0a:before {content: "\eb0a";}
.yz-glyph-eb0b:before {content: "\eb0b";}
.yz-glyph-eb0c:before {content: "\eb0c";}
.yz-glyph-eb0d:before {content: "\eb0d";}
.yz-glyph-eb0e:before {content: "\eb0e";}
.yz-glyph-eb0f:before {content: "\eb0f";}
.yz-glyph-eb10:before {content: "\eb10";}
.yz-glyph-eb11:before {content: "\eb11";}
.yz-glyph-eb12:before {content: "\eb12";}
.yz-glyph-eb13:before {content: "\eb13";}
.yz-glyph-eb14:before {content: "\eb14";}
.yz-glyph-eb15:before {content: "\eb15";}
.yz-glyph-eb16:before {content: "\eb16";}
.yz-glyph-eb17:before {content: "\eb17";}
.yz-glyph-eb18:before {content: "\eb18";}
.yz-glyph-eb19:before {content: "\eb19";}
.yz-glyph-eb1a:before {content: "\eb1a";}
.yz-glyph-eb1b:before {content: "\eb1b";}
.yz-glyph-eb1c:before {content: "\eb1c";}
.yz-glyph-eb1d:before {content: "\eb1d";}
.yz-glyph-eb1e:before {content: "\eb1e";}
.yz-glyph-eb1f:before {content: "\eb1f";}
.yz-glyph-eb20:before {content: "\eb20";}
.yz-glyph-eb21:before {content: "\eb21";}
.yz-glyph-eb22:before {content: "\eb22";}
.yz-glyph-eb23:before {content: "\eb23";}
.yz-glyph-eb24:before {content: "\eb24";}
.yz-glyph-eb25:before {content: "\eb25";}
.yz-glyph-eb26:before {content: "\eb26";}
.yz-glyph-eb27:before {content: "\eb27";}
.yz-glyph-eb28:before {content: "\eb28";}
.yz-glyph-eb29:before {content: "\eb29";}
.yz-glyph-eb2a:before {content: "\eb2a";}
.yz-glyph-eb2b:before {content: "\eb2b";}
.yz-glyph-eb2c:before {content: "\eb2c";}
.yz-glyph-eb2d:before {content: "\eb2d";}
.yz-glyph-eb2e:before {content: "\eb2e";}
.yz-glyph-eb2f:before {content: "\eb2f";}
.yz-glyph-eb30:before {content: "\eb30";}
.yz-glyph-eb31:before {content: "\eb31";}
.yz-glyph-eb32:before {content: "\eb32";}
.yz-glyph-eb33:before {content: "\eb33";}
.yz-glyph-eb34:before {content: "\eb34";}
.yz-glyph-eb35:before {content: "\eb35";}
.yz-glyph-eb36:before {content: "\eb36";}
.yz-glyph-eb37:before {content: "\eb37";}
.yz-glyph-eb38:before {content: "\eb38";}
.yz-glyph-eb39:before {content: "\eb39";}
.yz-glyph-eb3a:before {content: "\eb3a";}
.yz-glyph-eb3b:before {content: "\eb3b";}
.yz-glyph-eb3c:before {content: "\eb3c";}
.yz-glyph-eb3d:before {content: "\eb3d";}
.yz-glyph-eb3e:before {content: "\eb3e";}
.yz-glyph-eb3f:before {content: "\eb3f";}