<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="application" type="DingTalkProvider.Config.ApplicationSection,DingTalkProvider"/>
  </configSections>
  <application>
    <environment>
      <AppKey>dingw9hlp2ojmqe34pcy</AppKey>
      <AgentId>112522420</AgentId>
      <AppSecret>bfDd69Elkg5wNdh09sX1oW0KNirWl_qtbuS2ZdI4VM-hANZOgHtUpjgx4WiWp1bD</AppSecret>
    </environment>
  </application>
</configuration>