<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="application" type="MobilePushNotificationProvider.Config.ApplicationSection,EMIPPushNotificationProvider"/>
  </configSections>
  <application>
    <environment>
      <JPushAppKey>bf08f0d4bf3011993a91aaa1</JPushAppKey>
      <JPushSecret>5694f951656e748556f422ef</JPushSecret>
      <APNsP12Password>Abc123#</APNsP12Password>
      <!--SandBox false-正式版app,推送到APNs服务器, true-开发版app,推送到APNs服务器（只用于测试）-->
      <SandBox>false</SandBox>
    </environment>
  </application>
</configuration>