<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="application" type="WeChatProvider.Config.ApplicationSection,WeChatProvider"/>
  </configSections>
  <application>
    <environment>
      <CropId>wwfafde0bed17e8875</CropId>
      <AgentId>1000010</AgentId>
      <Secret>rFmHGc7hE0e3Vvg7VPxw3Qog_I14Lca1nYmNL78c8Pg</Secret>
    </environment>
  </application>
</configuration>