<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。


    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中


-->
<configuration>
	<connectionStrings>
		<add name="BPMDB" connectionString="Data Source=192.168.231.10;Initial Catalog=BPMDB;Integrated Security=False;User ID=sa;Password=P@ssw0rd" providerName="System.Data.SqlClient" />
		<!--<add name="BPMDB" connectionString="Data Source=(local);Initial Catalog=BPMDB2015;User ID=sa;Password=Abc123#" providerName="System.Data.SqlClient" />-->
		<!--<add name="BPMDB" connectionString="Data Source=127.0.0.1:1521/BPMDB2015;User Id=SYSTEM;Password=Abc123#" providerName="Oracle.ManagedDataAccess.Client"/>-->
		<!--<add name="BPMDB" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=BPMDB2019)));User Id=SYSTEM;Password=Abc123#" providerName="Oracle.ManagedDataAccess.Client"/>-->
	</connectionStrings>
	<appSettings>
		<add key="ShowMaintenancePage" value="false" />
		<add key="MaintenanceEndDate" value="2016-05-19 17:00:00" />
		<add key="BPMServerName" value="127.0.0.1" />
		<add key="BPMServerPort" value="1580" />
		<add key="Excel2ImageTimeout" value="30000" />
		<add key="AttachmentBaseURL" value="http://192.168.99.150/BPM/YZSoft/Attachment" />
		<add key="AttachmentRootPath" value="D:\0.Wen_WorkSpace\1.Repos\FlowPortal6.7\Attachments" />
		<!--<add key="UserDataPath" value="d:\2012\Web\Attachments"/>-->
		<add key="SecurityKey" value="2wersd99f81fl09ad" />
		<add key="FormDialogWidth" value="800" />
		<add key="FormDialogHeight" value="700" />
		<add key="ReciveTimeout" value="180000" />
		<add key="StartApp" value="2020/BPM" />
		<!--EnterpriseManager/BPM/Demo/BPA-->
		<add key="JSCache" value="true" />
		<!--false 在开发测试时使用，作用为每次刷新页面，JS都重新加载，呈现模块的最新修改，正式系统必需设置true（对JS加载量影响很大）-->
		<add key="JSVersion" value="6.70f.000" />
		<!--5.0x.yyy, 5.0x为BPM系统版本不要修改, yyy为客制开发的应用系统版本-->
		<add key="Debug" value="false" />
		<!--true/false-->
		<add key="emipUrl" value="http://192.169.1.104/EMIP" />
		<!--iAnyWhere网站的url地址，用于在移动表单设计时预览表单效果-->
		<add key="WebLoginEnable" value="true" />
		<add key="NTLoginEnable" value="true" />
		<add key="CompanyInfoCompanyName" value="上海易正信息技术有限公司" />
		<add key="CompanyInfoLoginPageTitle" value="业务流程管理系统 - 上海易正信息技术有限公司" />
		<add key="CompanyInfoDefaultPageTitle" value="业务流程管理系统" />
		<add key="CompanyInfoLink1" value="http://www.google.com.hk" />
		<!--<add key="Error_ConnectServerFailed" value="~/Error/ConnectServerFailed.aspx"/>-->
		<add key="ssoUrl" value="" />
		<add key="ssoReturnUrlParamName" value="ReturnUrl" />
		<add key="TransationDefaultOpen" value="true" />
		<add key="OpenDebugInfo" value="true" />
		<add key="AppDebugFilterTime" value="0" />
		<add key="LogPath" value="/Logs/" />
		<add key="RecordSqlLongQueryTime" value="0" />
		<add key="Theme" value="2020" />
		<!--classic/win10-->
	</appSettings>
	<location path="YZSoft.Services.REST/Attachment/Upload.ashx">
		<system.web>
			<httpRuntime maxRequestLength="4096000" executionTimeout="300" />
		</system.web>
	</location>
	<location path="YZSoft.Services.REST/BPM/Post.ashx">
		<system.web>
			<httpRuntime maxRequestLength="10000" executionTimeout="300" />
		</system.web>
	</location>
	<location path="YZSoft/Excel/Service/Excel2Json.ashx">
		<system.web>
			<httpRuntime maxRequestLength="10000" executionTimeout="300" />
		</system.web>
	</location>
	<system.web>
		<globalization enableClientBasedCulture="true" culture="auto" uiCulture="auto" />
		<!-- 
            设置 compilation debug="true" 将调试符号插入 
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。 
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<machineKey validationKey="ABAA84D7EC4BB56D75D237CECFFB9628809BDB8BF91CFCD64568A145BE59719F" decryptionKey="ABAA84D7EC4BB56D75D237CECFFB9628809BDB8BF91CFCD64568A145BE59719F" validation="SHA1" decryption="AES" />
		<!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，以标识传入的用户。 
        -->
		<authentication mode="None">
			<forms loginUrl="YZSoft/login/2020/" cookieless="UseCookies" path="/" />
		</authentication>
		<customErrors mode="Off" />
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页 
            以代替错误堆栈跟踪。

 
        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<httpRuntime requestValidationMode="2.0" />
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false" viewStateEncryptionMode="Always" />
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="4294967295" />
			</requestFiltering>
		</security>
		<!--<handlers>
      <remove name="UrlRoutingHandler"/>
    </handlers>-->
		<!--<httpErrors errorMode="Custom" existingResponse="Auto">-->
		<httpErrors errorMode="DetailedLocalOnly">
			<remove statusCode="403" />
			<remove statusCode="404" />
			<error statusCode="403" path="YZSoft\core\Error\NoAccess.html" />
			<error statusCode="404" path="YZSoft\core\Error\FileNotFound.html" />
		</httpErrors>
		<httpProtocol>
			<customHeaders>
				<!--<add name="X-Frame-Options" value="SAMEORIGIN" />-->
				<!--<add name="X-Frame-Options" value="ALLOW-FROM https://example.com/" />-->
				<add name="X-XSS-Protection" value="1;mode=block" />
				<!--<add name="Content-Security-Policy" value=" default-src 'self'"/>-->
				<add name="X-Content-Type-Options" value="nosniff" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
	</system.serviceModel>
</configuration>